<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice project 1</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <div><h1>User Details</h1></div>
    <div class="userDetail">
      <form action="/create" method="post" enctype="multipart/form-data">
        <input type="file" name="img" />
        <input type="text" placeholder="Full Name" name="name" />
        <input type="date" placeholder="Date of Birth" name="dob" />
        <input type="number" placeholder="Phone Number" name="phoneNumber" />
        <input type="email" placeholder="E-Mail" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input
          class="btn"
          type="reset"
          placeholder="Reset"
          style="background-color: red"
        />
        <input
          class="btn"
          type="submit"
          placeholder="submit"
          style="background-color: rgba(0, 89, 255, 0.747)"
        />
      </form>
    </div>
  </body>
</html>
