<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice project 1</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <a href="/create"><button class="createUserDiv">Create User +</button></a>
    <a href="/login"><button class="readUserDiv">Read User ...</button></a>
  </body>
</html>
