<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice project 1</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <div class="userContainer">
      <div class="userInfo">
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <div class="userInfo--img"></div>
        </div>

        <div>
          <div class="userInfo--name"><%= data.full_name %></div>
          <hr />
        </div>

        <div>
          <div class="userInfo--control">
            <div class="userInfo--control--edit">Edit</div>
            <div class="userInfo--control--delete" style="color: red">
              Delete
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
